body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  text-decoration: none;
}

.nav-top {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-name {
  list-style: none;
  display: flex;
}

.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #2e2f42;
}

.ul-top {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.ul-top-2 {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}

.link-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}
